@import "../../app.scss";

.about {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100vh; 
  display: flex;
  align-items: center; 
  justify-content: center; 

  @include mobile {
    padding: 20px;
  }

  .textContainer {
    width: 80%; 
    max-width: 800px; 
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      width: 90%;
      max-width: 600px;
    }

    p {
      font-weight: 300;
      font-size: 20px;
      color: gray;
      text-align: center;
      margin: 0; 

      @include mobile {
        font-size: 16px;
      }
    }
  }
}